/*NAV BAR*/
.navbar {
    overflow: hidden;
    background-color: var(--bg-primary);
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px;
    /* Used in this example to enable scrolling */
}

/*BODY AND BOX*/
body{
    margin: 0;
    padding: 0px;
    background-color: var(--bg-primary);
    color: black;
    font-family: 'Montserrat', sans-serif;
}
.dark-mode {
    background-color: black;
    color: white;
}
#dark{
    position: absolute;
    left: 20px;
    top: 90px;
    border-radius: 9px;
    width: 90px;
    height: 40px;
    font-size: 16px;
}

:root {
    /*untuk menampung data agar bisa di pangil stiap saat dengan Varr*/
    --bg-primary: #eaeaea;
    ;
    --bg-secondary: rgb(5, 160, 238);
    --txt--primary: rgb(254, 84, 112);
    --txt--secondary: black;
}

/*BAGIAN Tabel*/
.bakso {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.bakso img {
    border-radius: 20px;
    width: 50%;
}
/*footer*/
.bungkus {
    background-color: black;
    color: white;
}

.batagor {
    width: 70%;
}

.batagor tr {
    text-align: center;
    list-style: none;
}